BasedOnStyle: Google
Language: Cpp
Standard: c++17

ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -1
NamespaceIndentation: None
IndentCaseLabels: true

BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Preserve
SortIncludes: false
ReflowComments: false
