<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="optimo_mujoco.xacro" />

    <xacro:macro name="optimo_ros2_control" params="use_sim_hardware robot_index ns use_mock_hardware:=false use_mujoco_sim:=false mujoco_model:='' headless:=false">
        <xacro:property name="use_hardware" value="${not use_mujoco_sim and not use_mock_hardware}" />
        <xacro:property name="use_mock_system" value="${not use_mujoco_sim and use_mock_hardware}" />
        <xacro:property name="system_name" value="${'MujocoSystem' if use_mujoco_sim else 'OptimoHardwareInterface'}" />

        <ros2_control name="${system_name}" type="system">
            <xacro:if value="${use_mujoco_sim}">
                <xacro:optimo_mujoco_hardware
                    mujoco_model="${mujoco_model}"
                    headless="${headless}" />
            </xacro:if>
            <xacro:if value="${use_mock_system}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:if value="${use_hardware}">
                <hardware>
                    <plugin>optimo_hardware/OptimoHardwareInterface</plugin>
                    <param name="robot_index">${robot_index}</param>
                </hardware>
            </xacro:if>

            <joint name="optimo_joint1">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-79</param>
                    <param name="max">79</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint2">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-95</param>
                    <param name="max">95</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint3">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-32</param>
                    <param name="max">32</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint4">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-40</param>
                    <param name="max">40</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint5">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-15</param>
                    <param name="max">15</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint6">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-15</param>
                    <param name="max">15</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>
            <joint name="optimo_joint7">
                <command_interface name="position" />
                <command_interface name="velocity" />
                <command_interface name="effort">
                    <param name="min">-15</param>
                    <param name="max">15</param>
                </command_interface>
                <state_interface name="position" />
                <state_interface name="velocity" />
                <state_interface name="effort" />
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
